/*Venue card*/
.venue-card {
  width: 260px;
  height: 400px;
}

.card-image {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

/*Forms*/
.modal-content {
  background-color: #F0F2EF !important;
}

.dropdown-menu {
  background-color: #80A3AB !important;
  color: black !important;
}

.dropdown-item.active {
  background: none !important;
  color: black !important;
}

/*Bootstrap overrides*/
:root {
  --bs-primary: #80A3AB !important;
  --bs-secondary: #ECCB99;
}