@import url("https://fonts.googleapis.com/css2?family=Calistoga&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Great+Vibes&display=swap');

* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Calistoga", serif;
}

h2 {
  font-family: "Great Vibes", cursive;
}