@import url("https://fonts.googleapis.com/css2?family=Calistoga&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-style: normal;
}

.first-font {
  font-family: "Calistoga", serif;
}

.second-font {
  font-family: "Great Vibes", cursive;
}

.third-font {
  font-family: "Caladea", serif;
}